{% if allProducts %}
    {% if allProducts.items %}
    <article class="allProductsWrapper" id="allProductsWrapper">
            {% for product in allProducts.items %}
            <article class="the-products card {{ product.category_id }}">
                <a href="/product/{{ product.slug }}">
                    <div class="card-img product-img">
                        {% if product.product_img %}
                        <img src="{{ product.getMediumImage() }}" alt="">
                        {% else %}
                        <img src="{{ url_for('static', filename='frontend/img/placeholder.png') }}" alt="">
                        {% endif %}
                    </div>
                </a>
                <div class="card-text">
                    <a href="/product/{{ product.slug }}">
                        <h2 class="product-title">{{ product.name }}</h2>
                    </a>
                    <span class="product-price">{{ product.sellingPrice }}</span>
                    <span class="btn plusCart" data-product_id="{{ product.id }}" data-sizes="{{ product.sizes }}" data-colors="{{ product.colors }}">+</span>
                </div>
            </article>
            {% endfor %}
    </article>

    <div id="bottomSheet" class="bottomSheet">
        <div class="bottomSheetContent">
            <span class="sheetBar"></span>
            <div class="title">
                <span class="closeSheet" id="closeSheet">&times;</span>
                <h3 class="title">Please Select a variation</h3>
            </div>
    
            <!-- product options here -->
            <div class="productVariations">
                <div class="sizeVariation variation">
                    <span class="sizeTitle variationTitle">Size</span>
                    <div class="sizeRadios theVariation"></div>
                </div>
            
                <div class="colorVariation variation">
                    <span class="colorTitle variationTitle">Color</span>
                    <div class="colorRadios theVariation"></div>
                </div>
            
                <div class="cart-quantity quantityVariation variation">
                    <span class="quantityTitle variationTitle">Quantity</span>
                    <div class="theQuantity theVariation">
                        <button class="quantityBtn minus">-</button>
                        <input class="quantityInput" type="number" id="" name="quantity" min="1" max="5" value="1">
                        <button class="quantityBtn plus">+</button>
                    </div>
                </div>
            </div>
            
            <p id="validateMsg"></p>
            <button class="btn addToCart">
                <span id="btnTxt">Add to Cart</span>
                <div id="loadIco" class="hidden">
                    <i class="bx bx-loader bx-md"></i>
                </div>
            </button>
        </div>
    </div>

    {% else %}
    <article class="allProductsWrapper" id="allProductsWrapper">
        <article class="the-products card no-products">
            <p> Oops! There are no Products in this category </p>
        </article>
    </article>
    {% endif %}
{% endif %}

<script src="{{ url_for('static', filename='frontend/js/add-to-cart.js') }}"></script>