{% extends 'frontend/layouts/main.html' %}
{% block title %} {{ category.name }} {% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/category-page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/product-list.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/product-page.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/library/flickity/flickity.css') }}" media="screen">
{% endblock %}

{% block content %}

<section class="col-12 page-head category-head" style="background-image: url({{category.getMediumImage()}});">
        
        <div class="head-container cat-head-container">
            <h2 class="title">
                {{ category.name }}
            </h2>
        </div>
</section>

<section class="col-12 main">
        <section class="category-list cat-page-tab">

            {% if subCategories %}
            <div class="secTitle">
                <div class="theTitle">Categories</div>
            </div>

            <div class="theTabs js-flickity" id="theTabs"
                data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true, "percentPosition": false, "setGallerySize": false, "prevNextButtons": false}'>
                <a href="#">
                    <div class="theTabs-item {% if productCat == category.slug %} active {% endif %}" id="{{ category.id }}" data-slug="{{ category.slug }}">
                        All
                    </div>
                </a>

                {% for subCat in subCategories %}
                <a href="#">
                    <div class="theTabs-item {% if productCat == subCat.slug %} active {% endif %}" id="{{ subCat.id }}" data-slug="{{ subCat.slug }}">
                        {{ subCat.name }}
                    </div>
                </a>
                {% endfor %}
                
            </div>
            {% endif %}

            {% include 'frontend/components/all-products.html' %}

            <div class="pagination" id="pagination">
                <a href="{{url_for('frontend.showCatProducts', slug=category.slug, page=allProducts.prev_num)}}"
                    class="page-numbers {% if not allProducts.has_prev %}disabled{% endif %}"> &laquo; </a>
                {% for page in allProducts.iter_pages() %}
                <a href="{{ url_for('frontend.showCatProducts', slug=category.slug, page=page) }}"
                    class="page-numbers {% if page == allProducts.page %}current{% endif %}">{{ page }}</a>
                {% endfor %}
                <a href="{{url_for('frontend.showCatProducts', slug=category.slug, page=allProducts.next_num)}}"
                    class="page-numbers {% if not allProducts.has_next %}disabled{% endif %}"> &raquo; </a>
            </div>
            
        </section>
</section>

<div class="boxLoading" id="loading">
        <img src="{{ url_for('static', filename='frontend/img/load-1.svg') }}" alt="loading">
</div>

<script src="{{ url_for('static', filename='frontend/js/get-products.js') }}"></script>

{% endblock %}