{% extends 'frontend/layouts/main.html' %}
{% block title %}GUDIE{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/library/flickity/flickity.css') }}" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/product-list.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/category-slide.css') }}">
{% endblock %}

{% block internalCss %}
    <style>
        .index-page .alert-box {
            position: absolute;
            z-index: 2;
            top: calc(var(--header-height) - 30px);
        }
    </style>
{% endblock %}

{% block content %}

<section class="col-12 page-head" style="background-image: url({{ url_for('static', filename='frontend/img/home-5.webp') }});">
    <div class="head-container">
        <h2 class="title">
            Exceptional Shoes
        </h2>
        <span class="head-btn"><a class="btn" href="#">Check</a></span>
    </div>
</section>

<section class="col-12 category-list">
    <div class="secTitle">
        <div class="theTitle">Categories</div>
        <!-- slide buttons-->
        <div class="slide-nav" id="cat-custom-control" aria-label="Carousel Navigation" tabindex="0"></div>
    </div>
    
    <!-- The slide itself -->
    <div class="theCategories js-flickity" id="theCategories" 
        data-flickity-options='{ "pageDots": false, "cellAlign": "left", "contain": true, "percentPosition": false, "setGallerySize": false}'>
        {% for cat in rootCategories %}
        <a href="/category/{{ cat.slug }}">
            <div class="category-item card">
                <div class="card-img cat-img">
                    {% if cat.cat_img %}
                    <img class="lazyload" src="{{ url_for('static', filename='img/placeholder.png') }}" data-src="{{ cat.getMediumImage() }}" alt="" />
                    {% else %}
                    <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="">
                    {% endif %}
                </div>
                <div class="card-text">
                    <div class="cat-title">{{ cat.name }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

<main id="content" role="main" class="col-12 all-products">
        <div class="secTitle">
            <div class="theTitle">Latest</div>
        </div>

        {% include 'frontend/components/all-products.html' %}
</main>

{% endblock %}