{% extends 'frontend/layouts/main.html' %}
{% block title %}Latest Products{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/product-list.css') }}">
<link rel="stylesheet" href="../../../static/frontend/css/product-page.css">
{% endblock %}
{% block internalCss %}
    <style>
        .index-page .alert-box {
            position: absolute;
            z-index: 2;
            top: calc(var(--header-height) - 30px);
        }
        .expand-wrapper .all-products {
            margin-top: 120px !important;
        }
    </style>
{% endblock %}

{% block content %}

<main id="content" role="main" class="col-12 all-products" style="margin-top: var(--header-height);">
    <div class="secTitle">
        <div class="theTitle">Latest</div>
    </div>
    
    {% include 'frontend/components/all-products.html' %}

    <div class="pagination" id="pagination">
        <a href="{{url_for('frontend.allProducts', page=allProducts.prev_num)}}"
            class="page-numbers {% if not allProducts.has_prev %}disabled{% endif %}"> &laquo; </a>
        {% for page in allProducts.iter_pages() %}
        <a href="{{ url_for('frontend.allProducts', page=page) }}"
            class="page-numbers {% if page == allProducts.page %}current{% endif %}">{{ page }}</a>
        {% endfor %}
        <a href="{{url_for('frontend.allProducts', page=allProducts.next_num)}}"
            class="page-numbers {% if not allProducts.has_next %}disabled{% endif %}"> &raquo; </a>
    </div>
</main>

{% endblock %}