{% extends 'frontend/layouts/main.html' %}
{% block title %}Latest Products{% endblock %}

{% block cssLinks %}
<link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/product-list.css') }}">
{% endblock %}
{% block internalCss %}
    <style>
        .index-page .alert-box {
            position: absolute;
            z-index: 2;
            top: calc(var(--header-height) - 30px);
        }
        .expand-wrapper .all-products {
            margin-top: 120px !important;
        }
    </style>
{% endblock %}

{% block content %}

<main id="content" role="main" class="col-12 all-products" style="margin-top: var(--header-height);">
    <div class="secTitle">
        <div class="theTitle">Latest</div>
    </div>
    
    {% include 'frontend/components/all-products.html' %}
</main>

{% endblock %}