<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='library/boxicons/css/boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/main.css') }}">
    
    {% block cssLinks %}{% endblock %}
    
    {% if form %}
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/form.css') }}">
    {% endif %}

    {% if page != 'auth' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/header.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/js/header.js') }}"></script>
    {% endif %}

    {% block internalCss %}{% endblock %}
</head>

<body>
    
    {% if page != 'auth' %}
    {% include 'frontend/components/header.html' %}
    {% endif %}
        
    <!-- Begin page content -->
    <section class="wrapper {% if form %}form-page{% endif %} {{page}}-page" id="wrapper">
        <div class="alertBox">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            <div class="alert fade {{ category }} visible">
                <div class="alertTxt">
                    {{ message }} {% if category == 'info login' %} Go to <a href="{{ url_for('ctrlPanel.login') }}"> login
                        page</a>
                    {% endif %}
                </div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        
        {% block content %}{% endblock %}
    </section>
    
    {% if page != 'auth' %}
    {% include 'frontend/components/footer.html' %}
    {% endif %}
    

    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/library/flickity/flickity.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/library/flickity/flickity-addons.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='library/lazysizes/lazysizes.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/js/darkmode.js') }}"></script>

    
    
    <script src="{{ url_for('static', filename='frontend/js/alert.js') }}"></script>
    
    
</body>
</html>