<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='library/boxicons/css/only.used.boxicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/responsive.css') }}">
    
    {% block cssLinks %}{% endblock %}
    
    {% if form %}
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/form.css') }}">
    {% endif %}

    {% if page != 'auth' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='frontend/css/header.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/js/header.js') }}"></script>
    {% endif %}

    {% block internalCss %}{% endblock %}
</head>

<body>
    
    {% if page != 'auth' %}
    {% include 'frontend/components/header.html' %}
    {% endif %}
        
    <!-- Begin page content -->
    <section class="wrapper {% if form %}form-page{% endif %} {{page}}-page">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert-box">
            <div class="alert fade {{ category }}">
                <div class="alert-txt">
                    {{ message }} {% if category == 'info login' %} Go to <a href="{{ url_for('ctrlPanel.login') }}"> login
                        page</a>
                    {% endif %}
                </div>
                <a class="close" data-dismiss="alert">&times;</a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </section>
    
    <footer>
        <section class="col-12 ft-botm">
            <p> &copy; 2023 Gudie | All Rights Reserved </p>
        </section>
    </footer>
    

    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/library/flickity/flickity.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/library/flickity/flickity-addons.js') }}"></script>
    <script async type="text/javascript" src="{{ url_for('static', filename='library/lazysizes/lazysizes.min.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='frontend/js/darkmode.js') }}"></script>

    {% if page == 'cart' %}
    <script async type="text/javascript" src="{{ url_for('static', filename='frontend/js/cart.js') }}"></script>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script src="{{ url_for('static', filename='frontend/js/alert.js') }}"></script>
    {% endif %}
    {% endwith %}
    
</body>
</html>