{% extends 'cpanel/layouts/main.html' %}
{% block title %}Categories{% endblock %}

{% block headScript %}
<script src="{{ url_for('static', filename='cpanel/js/confirm-delete.js') }}"></script> 
{% endblock %}

{% block content %}

<div class="flexCenter app-content-header">
    <h1 class="app-content-headerText">Categories</h1>
    {% if CURRENT_USER.role != 'trader' %}
    <a href="{{url_for('ctrlPanel.addNew_category')}}" class="btn addNewBtn">Add New <span> Category </span></a>
    {% endif %}
</div>

<div class="table-area-wrapper">
    <div class="table tableView">
        <div class="table-header">
            <div class="table-cell name">Name</div>
            <div class="table-cell description">Description</div>

            <div class="table-cell slug">Slug</div>
            <div class="table-cell count">Count</div>
        </div>

        {% for category in allCategories.items %}
        <div class="table-row">
            <div class="table-cell name"> 
                <span class="cell-content"> {{ category.name }} </span>
                <span class="row-action">
                    <a href="#">View</a>
                    {% if CURRENT_USER.role != 'trader' %}
                    <a href="{{url_for('ctrlPanel.edit_category', slug=category.slug)}}">edit</a>
                    <a href="{{url_for('ctrlPanel.del_category', slug=category.slug)}}" class="delete" onclick="return confirmDelete();">delete</a>
                    {% endif %}
                </span>
            </div>
            <div class="table-cell description">
                <span class="cell-label"> Description: </span>
                <span class="cell-content"> {{ category.description }} </span>
            </div>
            <div class="table-cell slug">
                <span class="cell-label"> Slug: </span>
                <span class="cell-content"> {{ category.slug }} </span>
            </div>
            <div class="table-cell count">
                <span class="cell-label"> count: </span>
                <span class="cell-content"> {{ category.totalProducts() }} </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <a href="{{url_for('ctrlPanel.categories', page=allCategories.prev_num)}}" class="page-numbers {% if not allCategories.has_prev %}disabled{% endif %}"> &laquo; </a>
    {% for page in allCategories.iter_pages() %}
    <a href="{{ url_for('ctrlPanel.categories', page=page) }}" class="page-numbers {% if page == allCategories.page %}current{% endif %}">{{ page }}</a>
    {% endfor %}
    <a href="{{url_for('ctrlPanel.categories', page=allCategories.next_num)}}" class="page-numbers {% if not allCategories.has_next %}disabled{% endif %}"> &raquo; </a>
</div>

{% endblock %}